html,
body {
  
  height: 100%; /* or min-height: 100%; depending on your requirements */
  overflow: hidden; /* this will remove scrollbars, but ensure inner content can scroll */
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #265967;
}

.li-light {
  background-color: #ffffff; /* Light mode background color */
}

.li-dark {
  background-color: rgb(3, 7, 18);; /* Dark mode background color */
}

.card-hover {
    position: relative;
    transition: transform 0.3s ease-in-out;
  }
  
  .card-hover::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background: rgba(6, 6, 6, 0);
    transition: background-color 0.3s ease-in-out;
  }
  
  .card-hover:hover {
    transform: scale(1.05);
  }
  
  .card-hover:hover::after {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
  }
  
  .hover-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 20; /* Above the ::after pseudo-element */
    display: flex;
    align-items: center;
    gap: 12px;
    color: white; /* Space between text and arrow */
  }
  
  .card-hover:hover .hover-content {
    opacity: 1; /* Make text and arrow visible on hover */
  }

  .card-hover-dark {
    position: relative;
    transition: transform 0.3s ease-in-out;
  }
  
  .card-hover-dark::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background-color: rgba(74, 74, 74, 0.1); /* Slightly lighter tone */

    transition: background-color 0.3s ease-in-out;
  }
  
  .card-hover-dark:hover {
    transform: scale(1.05);
  }
  
  .card-hover-dark:hover::after {
    background: rgba(79, 73, 73, 0.6);
    border-radius: 10px;
  }
  
  .hover-content-dark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 20; /* Above the ::after pseudo-element */
    display: flex;
    align-items: center;
    gap: 12px;
    color: white; /* Space between text and arrow */
  }
  
  .card-hover-dark:hover .hover-content-dark {
    opacity: 1; /* Make text and arrow visible on hover */
  }


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
